language: clojure
install:
  - export PATH="/home/travis/.evm/bin:$PATH"
  - export PATH="/home/travis/.cask/bin:$PATH"
  - git clone https://github.com/rejeep/evm.git /home/travis/.evm
  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip
  - curl -fsSkL https://raw.github.com/cask/cask/master/go | python
  - which emacs
  - ls -al /home/travis/.evm/bin/emacs
  - export
  - emacs -version
  - export EMACS=~/.evm/bin/emacs
  - cask emacs -version
  - cask
  - sudo apt-get install texlive-latex-recommended tex4ht
env:
  - EVM_EMACS=emacs-25.3-travis
script:
  - emacs --version
  - make
